<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- How to find the Transaction -->
		<property name="hibernate.transaction.factory_class">org.hibernate.engine.transaction.internal.jta.CMTTransactionFactory</property>
		
		<!-- How to produce transaction -->
		<property name="hibernate.transaction.jta.platform">rs.data.hibernate.util.JOTMJtaPlatform</property>

		<!-- Session context with JTA -->
		<property name="current_session_context_class">jta</property>
		
		<!-- Isolation level -->
		<property name="hibernate.connection.isolation">2</property>
		
		<!-- Performance speedup -->
		<property name="hibernate.jdbc.batch_size">40</property>
		
		<!-- Show SQL property -->
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">true</property>
		
		<!-- Required to enable JOTM with Hibernate -->
		<property name="hibernate.connection.provider_class">rs.data.hibernate.util.DataSourceConnectionProvider</property>
	
		<!-- Class mappings -->
		<mapping resource="hbm/typedefs.hbm.xml"/>
		<mapping resource="hbm/subscribers.hbm.xml"/>
		<mapping resource="hbm/tokens.hbm.xml"/>
		
	</session-factory>
	
</hibernate-configuration>